/* Global Styles */
body {
    background-color: #111; /* Default dark background */
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
    overflow: hidden; /* Prevent scroll for moving patterns */
    overflow-y: auto;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff; /* Default text color */
}

.theme-buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.theme-container {
    margin: 10px;
}

.theme-button {
    padding: 15px 30px;
    font-size: 1.2em;
    background: #333;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.theme-button:hover {
    background: #fff;
    color: #555;
}
/* Information Container */
#info-container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid #fff;
    background: #222;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

#info-container h2 {
    text-align: center;
    margin-top: 0;
}

#info-container p {
    font-size: 1.7em;
    line-height: 1.5;
    text-align: justify;
}
/* 60's Theme */
body.sixties {
    background-color: #f9f871;
    color: #111;
}

.sixties h1 {
    color: #d22e2e;
}

.sixties .theme-button {
    border-color: #d22e2e;
    color: #d22e2e;
}

/* 60's Background Pattern */
.sixties::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #f9f871 10%, transparent 10%) 0 0,
                radial-gradient(circle, #ffcc00 10%, transparent 10%) 50px 50px;
    background-size: 100px 100px;
    z-index: -1;
    animation: rotatePattern 20s linear infinite;
}

@keyframes rotatePattern {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* 70's Theme */
body.seventies {
    background-color: #d98825;
    color: #2e2e1f;
}

.seventies h1 {
    color: #9e623d;
}

.seventies .theme-button {
    border-color: #9e623d;
    color: #9e623d;
}

/* 70's Background Pattern */
.seventies::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        45deg,
        #d98825 25%,
        transparent 25%,
        transparent 50%,
        #d98825 50%,
        #d98825 75%,
        transparent 75%,
        transparent 100%
    );
    background-size: 50px 50px;
    z-index: -1;
    animation: slidePattern 1s linear infinite;
}

@keyframes slidePattern {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 50px 50px;
    }
}

/* 80's Theme */
body.eighties {
    background-color: #111;
    color: #f5a623;
}

.eighties h1 {
    color: #f5a623;
}

.eighties .theme-button {
    border-color: #f5a623;
    color: #f5a623;
}

/* 80's Background Pattern */
.eighties::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,0,150,0.5), rgba(0,204,255,0.5));
    background-size: 200% 200%;
    z-index: -1;
    animation: moveGradient 10s ease infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#image-gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Dinamic layout for bento */
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    max-height: 80vh;

}
.image-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.image-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.image-item:hover img {
    transform: scale(1.05);
}